.OnBoarding {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.formInputField {
    width: 300px;
}

.submitButton {
    top: 20px;
    height: 30px;
}